<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi página web</title>
    <link rel="stylesheet" href="/public/css/styleindex.css">
    <script type="module" src="../public/js/formulariofn.js"></script>
    <script type="module" src="../public/js/firebaseconectfn.js"></script>
</head>

<body>
    <header>
        <h1>Pagina de Inicio</h1>
    </header>

    <nav>
        <ul>
            <li><a href="juego_color.html">Cambio de colores</a></li>
            <li><a href="calculadora.html">Calculadora</a></li>
            <li><a href="reloj.html">Reloj</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>¡Bienvenido!</h2>
            <p id="mainpage">Esta es mi página web, aquí encontrarás diferentes aplicaciones web que he desarrollado.</p>
        </section>
    </main>

    <footer>
        <p>Abdiel García &copy;</p>
    </footer>
    <script type="module" src="../public/js/formulariofn.js"></script>
</body>

</html>