<!DOCTYPE html>
<html>

<head>
    <title>Juego de Cambio de Color</title>
    <link rel="stylesheet" href="/public/css/stylejuegocolor.css">
</head>

<body>
    <a href="javascript:history.back()"><button>Volver</button></a>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <button id="botoncolor" onclick="changeColor()">Cambiar Color</button>
    </div>

    <script src="../public/js/juegocolor.js"></script>
    <script type="module" src="../public/js/formulariofn.js"></script>

</body>

</html>