body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/fondo_imagen.jpg") ; 
}

header {
    background-color: #33333385;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

footer {
    background-color: #3333335b;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}